/*-----------------SECTION-MIXINS--------------------*/
/*------------------------SECTION-FONTS----------------*/
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-BoldItalic.woff2") format("woff2"), url("../fonts/Exo2-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*------------------------SECTION-SMART-GRID----------------*/
/*------------------------SECTION-ADJUSTMENT----------------*/
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 1.14058vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 1199.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 990px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 750px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 570px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  margin: 0.67em 0;
}

.content h2 {
  margin: 0.83em 0;
}

.content h3 {
  margin: 1em 0;
}

.content h4 {
  margin: 1.33em 0;
}

.content h5 {
  margin: 1.67em 0;
}

.content h5 {
  margin: 2.33em 0;
}

.content p {
  margin: 1em 0;
}

.section {
  position: relative;
  overflow: hidden;
}

.section:before {
  content: '';
  width: 100%;
  padding-top: calc((1238 / 1754) * 100%);
  display: block;
}

.section__wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 82.60621613915026%;
  padding-right: 3.99202vw;
  margin: 0 auto;
}

.section__wrapper_bg {
  background-image: url(../images/bg/bg-section.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  padding-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

/*-----------------SECTION-HOVER-ANIM--------------------*/
/*------------------------SECTION-COMMON----------------*/
/*------------------------SECTION-HEADER----------------*/
.header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 5.70288vw;
}

.header__wrapper {
  width: 82.60621613915026%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 3.99202vw;
}

.header__tel {
  margin-right: 6.07357vw;
}

.tel {
  letter-spacing: 2px;
}

.email {
  letter-spacing: 2px;
}

/*-----------------SECTION-FIRST--------------------*/
.first {
  background-image: url(../images/bg/bg.jpg);
  background-size: contain;
  background-position: 0 bottom;
  background-repeat: no-repeat;
}

.first__wrapper {
  position: relative;
}

.first__logo {
  position: absolute;
  z-index: 10;
  top: 37.15426vw;
  left: 36.07072vw;
  font-size: 2.28115vw;
}

.first__title {
  font-size: 2.16709vw;
  word-break: keep-all;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  z-index: 11;
  left: 36.07072vw;
  top: 43.79812vw;
  letter-spacing: 5px;
  white-space: nowrap;
}

.first__subtitle {
  font-size: 1.42572vw;
  color: #666666;
  position: absolute;
  z-index: 12;
  left: 36.07072vw;
  top: 46.90619vw;
  letter-spacing: 1.9px;
}

.first__period {
  font-size: 1.42572vw;
  position: absolute;
  z-index: 13;
  left: 26.66096vw;
  top: 61.30596vw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.first__period_violet {
  color: #bc91eb;
}

/*-----------------SECTION-LIST--------------------*/
.list__wrapper {
  padding-top: 7.1286vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__left, .list__right {
  width: 50%;
}

.list__left {
  padding-left: 2.93698vw;
}

.list__right {
  padding-left: 8.26918vw;
  padding-right: 3.5643vw;
}

.list__title {
  margin-bottom: 15.96806vw;
}

.list__slogan {
  margin-bottom: 2.85144vw;
  position: relative;
  font-family: "Exo 2";
  font-size: 7.1286vw;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
}

.list__slogan-text {
  color: #666666;
  position: relative;
  z-index: 20;
  opacity: .6;
}

.list__slogan-text2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c4ffff), color-stop(41%, #c4ffff), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #c4ffff 0%, #c4ffff 41%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #c4ffff 0%, #c4ffff 41%, #ffffff 100%);
  background-image: linear-gradient(to top, #c4ffff 0%, #c4ffff 41%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  z-index: 10;
  top: -0.68435vw;
  left: 0.62732vw;
  opacity: .6;
}

.list__slogan-text3 {
  color: #666666;
  position: absolute;
  z-index: 15;
  opacity: .3;
  left: -0.28514vw;
  top: 0.22812vw;
}

.list__slogan-img {
  height: 12.20416vw;
}

.list__text {
  color: #111111;
}

.list__items {
  padding-top: 1.42572vw;
}

.list__item {
  font-size: 1.02652vw;
  font-weight: 600;
  letter-spacing: 1.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 5.13259vw;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item-title {
  -ms-flex-preferred-size: 8.83946vw;
  flex-basis: 8.83946vw;
}

.list__item-line {
  width: 17.39378vw;
  height: 1px;
  background-image: url(../images/bg/line.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  margin-right: 1.71086vw;
}

.logo {
  position: absolute;
  z-index: 20;
  top: 18.53436vw;
  left: 2.28115vw;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  font-size: 2.28115vw;
  font-weight: 600;
}

.logo__img {
  height: 2.05304vw;
}

.contacts {
  width: 62.61762vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  z-index: 20;
  left: calc(100% - 4.28115vw);
  bottom: 3.42173vw;
}

.contact {
  color: #666;
  font-size: 0.85543vw;
  letter-spacing: 1.5px;
}

.num {
  position: absolute;
  z-index: 12;
  bottom: -18.66267vw;
  left: -18.66267vw;
}

.num__radius-1 {
  width: 37.32535vw;
  height: 37.32535vw;
  border: 3px solid #f6e7ff;
  border-radius: 50%;
  padding: 2.45224vw;
}

.num__radius-2 {
  width: 100%;
  height: 100%;
  border: 3px solid #f0d7ff;
  border-radius: 50%;
  padding: 2.45224vw;
}

.num__radius-3 {
  width: 100%;
  height: 100%;
  border: 3px solid #eac7fe;
  border-radius: 50%;
  padding: 2.82293vw;
}

.num__number {
  background-image: -webkit-radial-gradient(center, circle 560px, #7367f0 0%, #ce9ffc 100%);
  background-image: -o-radial-gradient(center, circle 560px, #7367f0 0%, #ce9ffc 100%);
  background-image: radial-gradient(circle 560px at center, #7367f0 0%, #ce9ffc 100%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 5.13259vw;
  padding-right: 6.1306vw;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.13658vw;
  font-weight: bold;
  letter-spacing: 7.22px;
}

.title {
  background-image: -webkit-gradient(linear, left top, right top, from(#7367f0), to(#ce9ffc));
  background-image: -webkit-linear-gradient(left, #7367f0 0%, #ce9ffc 100%);
  background-image: -o-linear-gradient(left, #7367f0 0%, #ce9ffc 100%);
  background-image: linear-gradient(to right, #7367f0 0%, #ce9ffc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.8;
  color: transparent;
  font-size: 2.85144vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.5px;
}

/*-----------------SECTION-COMP--------------------*/
.comp__wrapper {
  padding-top: 7.1286vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comp__left, .comp__right {
  width: 50%;
}

.comp__left {
  padding-left: 2.93698vw;
  padding-right: 4.84745vw;
}

.comp__right {
  padding-left: 2.42372vw;
  padding-right: 2.42372vw;
  padding-top: 1.42572vw;
}

.comp__title {
  margin-bottom: 5.84545vw;
}

.comp__desc {
  font-size: 0.85543vw;
  margin-bottom: 1.71086vw;
}

.comp__fz {
  font-weight: bold;
  margin-bottom: 4.27716vw;
}

.comp__fz-text {
  font-size: 0.68435vw;
}

.comp__fz-link {
  font-size: 1.02652vw;
  color: #8ebff3;
}

.comp__items {
  margin-bottom: 15.82549vw;
}

.comp__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 1.71086vw;
}

.comp__item:last-child {
  margin-bottom: 0;
}

.comp__item-title {
  color: #666666;
  font-size: 0.85543vw;
  font-weight: 500;
  margin-right: 0.998vw;
}

.comp__item-value {
  color: #7066ce;
  font-size: 1.48275vw;
  font-weight: bold;
}

.comp__spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #111111;
  font-size: 0.68435vw;
  position: relative;
}

.comp__spec-star {
  color: #c4ffff;
  font-size: 2.5663vw;
  position: absolute;
  right: 100%;
  top: -0.85543vw;
  margin-right: 0.65583vw;
}

.comp__subtitle {
  color: #111111;
  font-size: 1.1976vw;
  font-weight: bold;
  margin-bottom: 3.99202vw;
}

.comp__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5.41774vw;
}

.comp__part:last-child {
  margin-bottom: 0;
}

.comp__part-pic {
  height: 10.26518vw;
  min-height: 10.26518vw;
  margin-right: 2.28115vw;
}

.comp__worker {
  color: #111111;
  font-size: 0.85543vw;
  text-transform: uppercase;
  margin-bottom: 1.48275vw;
}

.comp__worker:last-child {
  margin-bottom: 0;
}

.comp__worker_small {
  font-size: 0.57029vw;
}

/*-----------------SECTION-PORTFOLIO--------------------*/
.portfolio__wrapper {
  padding-top: 7.1286vw;
  padding-left: 2.99401vw;
  padding-right: 2.99401vw;
}

.portfolio__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3.5643vw;
}

.portfolio__link {
  font-weight: 500;
}

.sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.14058vw;
  margin-right: -1.14058vw;
}

.site {
  margin-right: 1.14058vw;
  margin-left: 1.14058vw;
  width: calc((100% / 3) - 2.28116vw);
  margin-bottom: 1.99601vw;
}

.site__img {
  display: block;
}

/*-----------------SECTION-STAGES--------------------*/
.stages__wrapper {
  padding-top: 7.1286vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stages__left, .stages__right {
  width: 50%;
}

.stages__left {
  padding-left: 2.93698vw;
  padding-right: 5.70288vw;
}

.stages__right {
  padding-left: 3.70687vw;
  padding-right: 3.70687vw;
  margin-top: -1.99601vw;
}

.stages__title {
  margin-bottom: 6.55831vw;
}

.stages__subtitle {
  font-size: 1.71086vw;
  font-weight: bold;
  margin-bottom: 1.14058vw;
}

.stages__desc {
  font-size: 0.85543vw;
  line-height: 0.998vw;
}

.stages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.85344vw;
  margin-right: -1.85344vw;
}

.stage {
  margin-left: 1.85344vw;
  margin-right: 1.85344vw;
  width: calc( 50% - 3.70687vw);
  height: 13.74394vw;
  border-radius: 1.14058vw;
  background-color: rgba(220, 248, 253, 0.4);
  padding-right: 0.71286vw;
  padding-left: 1.05503vw;
  padding-top: 2.28115vw;
  margin-bottom: 1.99601vw;
}

.stage__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.71086vw;
}

.stage__number {
  color: #ffffff;
  font-family: "Museo Sans Cyrl -900";
  font-size: 7.58483vw;
  font-weight: bold;
  letter-spacing: 1.19px;
  line-height: 5.41774vw;
  margin-right: 1.42572vw;
}

.stage__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stage__title-text {
  font-size: 0.74137vw;
  font-weight: 600;
}

.stage__desc {
  font-size: 0.57029vw;
}

/*-----------------SECTION-PRICES--------------------*/
.prices__wrapper {
  padding-top: 7.1286vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices__left, .prices__right {
  width: 50%;
}

.prices__left {
  padding-left: 2.93698vw;
  padding-right: 2.93698vw;
}

.prices__right {
  padding-left: 2.5663vw;
  padding-right: 1.99601vw;
}

.prices__container {
  position: relative;
}

.prices__desc {
  padding-top: 1.42572vw;
  font-weight: 500;
  font-size: 0.91246vw;
  line-height: 1.71086vw;
}

.price {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 19.10465vw;
}

.price__title {
  color: #111111;
  letter-spacing: 1px;
  margin-bottom: 0.85543vw;
}

.price__text {
  position: relative;
}

.price__value {
  font-family: "Exo 2";
  font-weight: bold;
  font-style: italic;
  font-size: 6.84346vw;
  line-height: 6.27317vw;
  color: #666666;
  position: relative;
  z-index: 20;
}

.price__value:before {
  content: attr(data-val);
  display: block;
}

.price__value_small {
  font-size: 4.27716vw;
}

.price__value-2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c4ffff), color-stop(41%, #c4ffff), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #c4ffff 0%, #c4ffff 41%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #c4ffff 0%, #c4ffff 41%, #ffffff 100%);
  background-image: linear-gradient(to top, #c4ffff 0%, #c4ffff 41%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.6;
  color: transparent;
  font-family: "Exo 2";
  font-size: 6.84346vw;
  font-weight: bold;
  font-style: italic;
  line-height: 6.27317vw;
  position: absolute;
  top: 0;
  left: 0.62732vw;
}

.price__value-2_small {
  font-size: 4.27716vw;
}

/*------------------------SECTION-FOOTER---------------------*/

/*# sourceMappingURL=main.css.map */