.prices {
  &__wrapper{
    padding-top: vm(250);
    display: flex;
  }

  &__left, &__right {
    width: 50%;

  }
  &__left {
    padding-left: vm(103);
    padding-right: vm(103);
  }
  &__right {
    padding-left: vm(90);
    padding-right: vm(70);
  }

  &__container {
    position: relative;
  }

  &__desc {
    padding-top: vm(50);
    font-weight: 500;
    font-size: vm(32);
    line-height: vm(60);
  }
}

.price {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: vm(670);

  &__title {
    color: #111111;
    letter-spacing: 1px;
    margin-bottom: vm(30);
  }

  &__text {
    position: relative;
  }

  &__value {
    font-family: "Exo 2";
    font-weight: bold;
    font-style: italic;
    font-size: vm(240);
    line-height: vm(220);
    color: #666666;
    position: relative;
    z-index: 20;

    &:before {
      content: attr(data-val);
      display: block;
    }

    &_small {
      font-size: vm(150);
    }
  }

  &__value-2 {
    background-image: linear-gradient(to top, #c4ffff 0%, #c4ffff 41%, $bg 100%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.6;
    color:transparent;
    font-family: "Exo 2";
    font-size: vm(240);
    font-weight: bold;
    font-style: italic;
    line-height: vm(220);
    position: absolute;
    top: 0;
    left: vm(22);

    &_small {
      font-size: vm(150);
    }
  }
}